In [1]:
import pandas as pd

In [2]:
emotional_data = pd.read_csv('../raw_data/Emotion_final.csv')

In [3]:
tweet_data = pd.read_csv('../raw_data/tweet_emotions.csv')

In [4]:
tweet_data = tweet_data.drop(columns='tweet_id')[['content', 'sentiment']]

In [5]:
tweet_data

                                                 content   sentiment
0      @tiffanylue i know  i was listenin to bad habi...       empty
1      Layin n bed with a headache  ughhhh...waitin o...     sadness
2                    Funeral ceremony...gloomy friday...     sadness
3                   wants to hang out with friends SOON!  enthusiasm
4      @dannycastillo We want to trade with someone w...     neutral
...                                                  ...         ...
39995                                   @JohnLloydTaylor     neutral
39996                     Happy Mothers Day  All my love        love
39997  Happy Mother's Day to all the mommies out ther...        love
39998  @niariley WASSUP BEAUTIFUL!!! FOLLOW ME!!  PEE...   happiness
39999  @mopedronin bullet train from tokyo    the gf ...        love

[40000 rows x 2 columns]

In [6]:
tweet_data.sentiment.value_counts()

neutral       8638
worry         8459
happiness     5209
sadness       5165
love          3842
surprise      2187
fun           1776
relief        1526
hate          1323
empty          827
enthusiasm     759
boredom        179
anger          110
Name: sentiment, dtype: int64

In [7]:
emotional_data

                                                    Text  Emotion
0                                i didnt feel humiliated  sadness
1      i can go from feeling so hopeless to so damned...  sadness
2       im grabbing a minute to post i feel greedy wrong    anger
3      i am ever feeling nostalgic about the fireplac...     love
4                                   i am feeling grouchy    anger
...                                                  ...      ...
21454               Melissa stared at her friend in dism     fear
21455  Successive state elections have seen the gover...     fear
21456               Vincent was irritated but not dismay     fear
21457  Kendall-Hume turned back to face the dismayed ...     fear
21458                    I am dismayed , but not surpris     fear

[21459 rows x 2 columns]

In [8]:
emotional_data.rename(columns={'Text': 'content', 'Emotion': 'sentiment'}, inplace=True)

In [9]:
emotional_data

                                                 content sentiment
0                                i didnt feel humiliated   sadness
1      i can go from feeling so hopeless to so damned...   sadness
2       im grabbing a minute to post i feel greedy wrong     anger
3      i am ever feeling nostalgic about the fireplac...      love
4                                   i am feeling grouchy     anger
...                                                  ...       ...
21454               Melissa stared at her friend in dism      fear
21455  Successive state elections have seen the gover...      fear
21456               Vincent was irritated but not dismay      fear
21457  Kendall-Hume turned back to face the dismayed ...      fear
21458                    I am dismayed , but not surpris      fear

[21459 rows x 2 columns]

In [10]:
frames = emotional_data, tweet_data

In [11]:
df = pd.concat(frames)

In [12]:
df = df.dropna().reset_index().drop(columns='index')

In [13]:
df.sentiment.value_counts()

sadness       11430
neutral        8638
worry          8459
happy          7029
love           5483
happiness      5209
anger          3103
surprise       3066
fear           2652
fun            1776
relief         1526
hate           1323
empty           827
enthusiasm      759
boredom         179
Name: sentiment, dtype: int64

In [14]:
df[df.sentiment == 'neutral']

                                                 content sentiment
21463  @dannycastillo We want to trade with someone w...   neutral
21469                                   cant fall asleep   neutral
21481  No Topic Maps talks at the Balisage Markup Con...   neutral
21490                          @cynthia_123 i cant sleep   neutral
21491                    I missed the bl***y bus!!!!!!!!   neutral
...                                                  ...       ...
61449  @shonali I think the lesson of the day is not ...   neutral
61450  @lovelylisaj can you give me the link for the ...   neutral
61451  @jasimmo Ooo showing of your French skills!! l...   neutral
61452  @sendsome2me haha, yeah. Twitter has many uses...   neutral
61454                                   @JohnLloydTaylor   neutral

[8638 rows x 2 columns]

In [18]:
df.sentiment.replace({'happy': 'happiness', 'empty': 'neutral'}, inplace=True)

In [21]:
df.sentiment.value_counts().count()

13

In [22]:
df

                                                 content  sentiment
0                                i didnt feel humiliated    sadness
1      i can go from feeling so hopeless to so damned...    sadness
2       im grabbing a minute to post i feel greedy wrong      anger
3      i am ever feeling nostalgic about the fireplac...       love
4                                   i am feeling grouchy      anger
...                                                  ...        ...
61454                                   @JohnLloydTaylor    neutral
61455                     Happy Mothers Day  All my love       love
61456  Happy Mother's Day to all the mommies out ther...       love
61457  @niariley WASSUP BEAUTIFUL!!! FOLLOW ME!!  PEE...  happiness
61458  @mopedronin bullet train from tokyo    the gf ...       love

[61459 rows x 2 columns]

In [24]:
df.to_csv('cleaned_data.csv')